
/*********************************************
* LOGIN PAGE
*********************************************/
#login {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    margin: auto;
    width: 250px;
    padding: 25px;
}

#loginbutton {
    background-color: orange;
}

/*********************************************
* SELECTION PAGE
*********************************************/
#selection {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    margin: auto;
    width: 75%;
    padding: 25px;
    justify-content: space-around;

}

#game-selection {
padding: 25px;
border-style:ridge;
border-color: green;
border-radius: 25px;
opacity: 0.5;
transition-duration: 1s;
background-image: url(images/paper.jpg);
}

#game-selection:hover {
    opacity: 1;
    transition-duration: 1s;
}

#playerordm {
    display:flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

/* Div for selecting Dm profiles */
#dm-selection {
    display:flex;
    flex-direction: column;
    padding: 10px;
    border-style: ridge;
    border-color: orange;
    border-radius: 25px;
    width: 50%;
    opacity: 0.5;
    transition-duration: 1s;
    background-image: url(images/paper.jpg);
}

#dm-selection:hover {
    opacity: 1;
    transition-duration: 1s;
}

/* Div for selecting character profiles */
#character-selection {
    display:flex;
    flex-direction: column;
    padding: 10px;
    border-style: ridge;
    border-color: blue;
    border-radius: 25px;
    width: 50%;
    opacity: 0.5;
    transition-duration: 1s;
    background-image: url(images/paper.jpg);
}

#character-selection:hover {
    opacity: 1;
    transition-duration: 1s;
}

#createCharacterButton {
    border-radius: 25px;
}

img {
    width: 100px;
    height: auto;
}


/*********************************************
* CHARACTER CREATION PAGE
*********************************************/
#character-creation {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    margin: auto;
    width: 500px;
    padding: 25px;
}

/*********************************************
* DM PROFILE CREATION PAGE
*********************************************/
#dm-profile-creation {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    margin: auto;
    width: 500px;
    padding: 25px;
}

/*********************************************
* DM PROFILE CREATION PAGE
*********************************************/
#game-creation {
    display: flex;
    flex-direction: column;
    border-style: ridge;
    margin: auto;
    width: 500px;
    padding: 25px;
}

/*********************************************
* PLAY GAME PAGE
*********************************************/
html, #gameboard, main {
    display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100%;
    width: 100%;
    height: 100%;
}

#character {
    position: relative;
}


.tiletitles {
    font-family: 'MedievalSharp', cursive;
}