<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>  
    
<script>
    /*****************************************************************************
     * This code right here works to get data from server to this ejs file... whew!
     * ****************************************************************************/
        // This grabs the data rendered to us by the server, (NO JS in <% %> brackets)          
        var data = <%- JSON.stringify(data) %>;
        // THIS HAS THE MONEY! Get the first element in the json list, then use the "." operator to get the data you need
        // alert("data is index " + data[0].gamename);

        // While these two are good attempts, they do not work
        // this gets the object (worthless, just gets [object, object])
        // alert("data is " + data);

        // this returns undefined, because JSON.stringify returns a list
        // alert("data is " + data["gamename"]);


    // courtesy of https://stackoverflow.com/questions/4656843/jquery-get-querystring-from-url
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $(document).ready(function() {
        // Set up the title of the page properly
        $('h1').append(data[0].gamename);
        
       

        $.ajax({
                url: "https://pacific-reef-42179.herokuapp.com/getGameCharacters",
                type : "GET",
                data: {
                    "gameid" : data[0].id,
                },
                success: function(result) {
                    //    alert(JSON.stringify(result));
                    for (var i = 0; i < result.length; i++) {
                        // switch this to images
                        $('#gameboard').append('<img id="' + result[i].avatarname + '" src="' + result[i].imgpath + '" style="transform: translate3d(' + result[i].posx + 'px,' + result[i].posy + 'px, 0px)">' + result[i].avatarname)     
                    }

                    $.ajax({
                        url: "https://pacific-reef-42179.herokuapp.com/getcharactername",
                        type:"GET",
                        data: {
                            "gameid": data[0].id,
                        },
                        success: function(result) {
                            alert("This is the charactername I got " + result.avatarname);
                            charactername = result.avatarname;

                            var gameboard = document.querySelector("#gameboard");
                            var character = document.getElementById(charactername);

                            gameboard.addEventListener("click", getClickPosition, false);

                            function getClickPosition(e) {
                                var xPos = e.clientX - (character.offsetWidth / 2);
                                var yPos = e.clientY - (character.offsetHeight / 2);
                        
                                var translate3dValue = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
                                character.style.transform = translate3dValue;
                                
                                    $.ajax({
                                        url: "https://pacific-reef-42179.herokuapp.com/move",
                                        type:"GET",
                                        data: {
                                            "characterName" : charactername,
                                            "posx": parseInt(xPos),
                                            "posy": parseInt(yPos),
                                        },
                                        success: function(data){
                                            // alert("updated the coordinates of " + charactername + " to x=" + xPos + " and y= " + yPos)
                                        },
                                        error: function(err){
                                            alert("coudlnt update coordinates");
                                        },
                                    });
                        
                            }
                        },
                        error: function(err) {
                            alert('Couldn\'t get your characterName: ' + err);
                        }
                    });
                        

                    },
                    error: function(err) {
                        alert('could not get current game characters DATA: ' + err);
                    }
                });

        
});
</script>
</head>
<body id="gameboard" background="images/balathan-img.gif">
            <h1></h1> <!-- Edited by Jquery in $(document).ready-->
            
        <!-- <img id="character' . $users['username'] . '" src="' . $row['imgpath'] . '" style="transform: translate3d(' . $row['posx'] . 'px,' . $row['posy'] . 'px, 0px)"> -->
        <!-- <img id="character" src="' . $row['imgpath'] . '"> -->
        <!-- <script> var character = '$javascriptcharacter' ; -->

        <!-- <button id="clearplayers" type="button" onclick="window.location.href='clear-characters.php\'"> Clear Players </button>'; -->
<script>

    
    


    // $.ajax({
    //        url: "https://pacific-reef-42179.herokuapp.com/getCurrentGame",
    //        type : "GET",
    //        success: function(data) {
    //         //    alert(JSON.stringify(data));
    //            for (var i = 0; i < data.length; i++)
    //             $('#listOfGames').append('<div> <input type="radio" name="games-selection-btn" class="gamesradio">' + data[i].gamename + '</div>')     
    //          },
    //         error: function(data) {
    //             alert('could not get the games');
    //             alert(data);
    //         }
    //     });




//     var charactername = "#character" + character;
//     var gameboard = document.querySelector("#gameboard");
//     var character = document.querySelector(charactername);


//     gameboard.addEventListener("click", getClickPosition, false);

//     function getClickPosition(e) {
//         var xPos = e.clientX - (character.offsetWidth / 2);
//         var yPos = e.clientY - (character.offsetHeight / 2);;

//         var translate3dValue = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
        
//         var data = {
//                 x: xPos,
//                 y: yPos
//             };

//             $.post("updatecoordinates.php", data);

//         character.style.transform = translate3dValue;
//     }
// </script>
</body>


</html>