<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>  
    
<script>
            var data = <%- data %>;
        //    data = JSON.parse('<%- JSON.stringify(data) %>');
           alert("data is " + data);
        alert("data is " + data["gamename"]);
        alert("data is index" + data[0].gamename);
    // courtesy of https://stackoverflow.com/questions/4656843/jquery-get-querystring-from-url
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $(document).ready(function() {
        // Set up the title of the page properly
        $('h1').append(getParameterByName("gamename"));

        // 
        // $.ajax({
        //         url: "https://pacific-reef-42179.herokuapp.com/getCurrentGame",
        //         type : "GET",
        //         success: function(data) {
        //             //    alert(JSON.stringify(data));
        //             for (var i = 0; i < data.length; i++)
        //                 $('#listOfGames').append('<div> <input type="radio" name="games-selection-btn" class="gamesradio">' + data[i].gamename + '</div>')     
        //             },
        //             error: function(data) {
        //                 alert('could not get the games');
        //                 alert(data);
        //             }
        //         });

                




});
</script>
</head>
<body id="gameboard" background="images/balathan-img.gif">
            <h1></h1> <!-- Edited by Jquery in $(document).ready-->

        <!-- <img id="character' . $users['username'] . '" src="' . $row['imgpath'] . '" style="transform: translate3d(' . $row['posx'] . 'px,' . $row['posy'] . 'px, 0px)"> -->
        <!-- <img id="character" src="' . $row['imgpath'] . '"> -->
        <!-- <script> var character = '$javascriptcharacter' ; -->

        <!-- <button id="clearplayers" type="button" onclick="window.location.href='clear-characters.php\'"> Clear Players </button>'; -->
<script>
    // $.ajax({
    //        url: "https://pacific-reef-42179.herokuapp.com/getCurrentGame",
    //        type : "GET",
    //        success: function(data) {
    //         //    alert(JSON.stringify(data));
    //            for (var i = 0; i < data.length; i++)
    //             $('#listOfGames').append('<div> <input type="radio" name="games-selection-btn" class="gamesradio">' + data[i].gamename + '</div>')     
    //          },
    //         error: function(data) {
    //             alert('could not get the games');
    //             alert(data);
    //         }
    //     });




//     var charactername = "#character" + character;
//     var gameboard = document.querySelector("#gameboard");
//     var character = document.querySelector(charactername);


//     gameboard.addEventListener("click", getClickPosition, false);

//     function getClickPosition(e) {
//         var xPos = e.clientX - (character.offsetWidth / 2);
//         var yPos = e.clientY - (character.offsetHeight / 2);;

//         var translate3dValue = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
        
//         var data = {
//                 x: xPos,
//                 y: yPos
//             };

//             $.post("updatecoordinates.php", data);

//         character.style.transform = translate3dValue;
//     }
// </script>
</body>


</html>