<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>
    <form id='loginform'> 
        <span> Please log in or... <span style="font-size: 12px" >create an account</span> </span> <br>
        Username: <input type="text" name='username' value='porter'>
        Password: <input type="password" name='password' value='myPassword'>

        
        <button id="loginbutton" type="submit" > Login </button>
        <!-- <button id="createaccountbutton" type="submit" > Create an account </button> -->
    </form>
    <div id="loginsuccessful"> </div>
<script> 
$('#loginform').submit(function(event){
    event.preventDefault();
    console.log("called ajax function");
    var data = $('#loginform').serialize();
    $.post('https://pacific-reef-42179.herokuapp.com/login', data, function(res, status) {
        if (status == 'success') {
            $('#loginsuccessful').append(res.success);
            $('#login-successful-modal').modal('show');
            setTimeout(function() {
                $(location).attr('href', 'https://pacific-reef-42179.herokuapp.com/selectionpage')
            }, 2000);
            // alert("The server says" + JSON.stringify(res));
            $('#login-successful-modal').modal('hide');

        } else {
            $('#loginsuccessful').append("Error, please try logging in again");
            // alert("The server says" + JSON.stringify(res));
            
        }
    });
});


</script>
<!-- Create Character Modal -- >
    <div class="modal fade" id="login-successful-modal" role="dialog">
        <div class="modal-dialog modal-sm">
        
            <!-- Modal content--> 
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login Successful</h4>
                </div>
                <div class="modal-body">
                    redirecting...
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>
<!-- <% include ../partials/nav.ejs %> -->

</body>
</html>
