<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <form id='loginform'> 
        <span> Please log in </span> 
        Username: <input type="text" name='username' value='porter'>
        Password: <input type="password" name='password' value='myPassword'>

        <button id="loginbutton" type="submit" > Login </button>
    <!-- onclick="window.location.href='/selectionpage'" -->
    </form>
    <div id="loginsuccessful"> </div>
<script> 
$('#loginform').submit(function(event){
    event.preventDefault();
    console.log("called ajax function");
    var data = $('#loginform').serialize();
    $.post('https://pacific-reef-42179.herokuapp.com/login', data, function(res, status) {
        if (status == 200) {
            $('#loginsuccessful').append(res.success);
            alert("The server says" + JSON.parse(res));

        } else if (status == 500) {
            $('#loginsuccessful').append("Error, please try logging in again");
            alert("The server says" + JSON.parse(res));
            
        }
    });
});

</script>
<!-- <% include ../partials/nav.ejs %> -->

</body>
</html>
