<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <form id='login' action="login.php" method='post'> 
        <span> Please log in </span> 
        Username: <input type="text" name='username' value='porter'>
        Password: <input type="password" name = 'password' value='dndrocks'>

    <button id="loginbutton" type="submit"> Login </button>
        
    </form>

<!-- <% include ../partials/nav.ejs %> -->

</body>
</html>
