<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <form id='loginform'> 
        <span> Please log in </span> 
        Username: <input type="text" name='username' value='porter'>
        Password: <input type="password" name='password' value='myPassword'>

        <button id="loginbutton" type="submit" > Login </button>
    <!-- onclick="window.location.href='/selectionpage'" -->
    </form>
<script> 
$('#loginform').submit(function(event){
    event.preventDefault();
    console.log("called ajax function");
    var data = $('#loginform').serialize();
    $.post('https://pacific-reef-42179.herokuapp.com/login', data, function(res) {
        alert("The server says" + res);
    });
});

</script>
<!-- <% include ../partials/nav.ejs %> -->

</body>
</html>
