<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <form id='loginform' method='post'> 
        <span> Please log in </span> 
        Username: <input type="text" name='username' value='porter'>
        Password: <input type="password" name='password' value='myPassword'>

        <button id="loginbutton" type="submit" > Login </button>
    <!-- onclick="window.location.href='/selectionpage'" -->
    </form>
<script> 
    $('#loginform')
    .ajaxForm({
        url : '/login', // or whatever
        dataType : 'json',
        success : function (response) {
            alert("The server says: " + response);
        }
    });
</script>
<!-- <% include ../partials/nav.ejs %> -->

</body>
</html>
