<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <form id='login' action='/selectionpage' method='post'> 
        <span> Please log in </span> 
        Username: <input type="text" name='username' value='porter'>
        Password: <input type="password" name='password' value='myPassword'>

        <button id="loginbutton" type="submit" > Login </button>
    <!-- onclick="window.location.href='/selectionpage'" -->
    </form>

<!-- <% include ../partials/nav.ejs %> -->

</body>
</html>
