<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<script>
    $(document).ready(function () {
        // Disable create game button until they have selected a DM profile
        $("#game-creation-btn").attr("disabled", "disabled");

        /*******************************************
         *  Get list of characters and display them
         * *****************************************/
        $.ajax({
            url: "https://pacific-reef-42179.herokuapp.com/getCharacters",
            type: "GET",
            success: function (data) {
                //    alert("Got the characters!");
                //    alert(JSON.stringify(data));
                for (var i = 0; i < data.length; i++)

                
    $('#listOfCharacters').append(
       '<div class="character-list">\
        <div class="character-selection-layout"> <input type="radio" name="player-selection" class="characterradio" value="' + data[i].avatarname + '"> </div>\
        <div class="character-selection-layout">' + data[i].avatarname + '</div>\
        <div class="character-selection-layout"> <img src="' + data[i].imgpath + '" height="100" width="50"> </div>\
        </div>')

            $("input[name='player-selection']").on("change", function () {
                    // alert(this.value);
                    isCharacterANDGameSelected();
                });
            },
            error: function (data) {
                alert('could not get the characters');
                alert(data);
            }
        });

        /*******************************************
         *  Get list of DM profiles and display them
         * *****************************************/
        $.ajax({
            url: "https://pacific-reef-42179.herokuapp.com/getDMs",
            type: "GET",
            success: function (data) {
                //    alert(JSON.stringify(data));
                for (var i = 0; i < data.length; i++)
                    $('#listOfDMProfiles').append(
                        '<div> <input type="radio" name="dmselection" class="dmradio">' + data[
                            i].dmname + '</div>')

                // using jquery - if someone clicks on DM radio button, let them create a game. 
                $("input[name='dmselection']").on("change", function () {
                    // alert(this.value);
                    isDMSelected();
                });
            },
            error: function (data) {
                alert('could not get the characters');
                alert(data);
            }
        });

        /*******************************************
         *  Get list of games and display them
         * *****************************************/
        $.ajax({
            url: "https://pacific-reef-42179.herokuapp.com/getGames",
            type: "GET",
            success: function (data) {
                //    alert(JSON.stringify(data));
                for (var i = 0; i < data.length; i++)
                    $('#listOfGames').append(
                        '<div> <input id="' + data[i].id + '" ' + 'type="radio" name="games-selection-btn" class="gamesradio" value=' + data[i].gamename +'>' +
                        data[i].gamename + '</div>')

                // using jquery - if someone clicks on DM radio button, let them create a game. 
                $("input[name='games-selection-btn']").on("change", function () {
                    // alert(this.value);
                    isCharacterANDGameSelected();
                });
            },
            error: function (data) {
                alert('could not get the games');
                alert(data);
            }


        });

        

    });

    function isDMSelected() {
        var dmradio = document.getElementsByClassName("dmradio");

        for (var i = 0; i < dmradio.length; i++) {
            if (dmradio[i].checked) {
                var dmname1 = dmradio[i].value;
                document.getElementById("game-creation-btn").disabled = false;

                var data = {
                    dmname: dmname1
                };

                // $.post("set_dm_id.php", data);
            }
        }
    }

    function isCharacterSelected() {
        var characterradio = document.getElementsByClassName("characterradio");

        for (var i = 0; i < characterradio.length; i++) {
            if (characterradio[i].checked) {
                // if player selects a character, disable game-creation button (only available to DMs)
                document.getElementById("game-creation-btn").disabled = true;
                var characterradio1 = characterradio[i].value;

                var data = {
                    character: characterradio1
                };

                $.post("set_character.php", data);
            }
        }
    }

    function isCharacterANDGameSelected() {
        var characterradio = document.getElementsByClassName("characterradio");
        var gamesradio = document.getElementsByClassName("gamesradio")
        var i;
        for (i = 0; i < characterradio.length - 1; i++) {
            var j;
            for (j = 0; j < gamesradio.length; i++) {
                if (characterradio[i].checked && gamesradio[j].checked) {
                    // if player selects a character, disable game-creation button (only available to DMs)
                    var characterName = characterradio[i].value;
                    var gameid = gamesradio[j].id;
                    // alert(characterName + " " + gameid);
                    $.ajax({
                        url: "https://pacific-reef-42179.herokuapp.com/setCharacterGameid",
                        type: "GET",
                        data: {
                            "charactername": characterName,
                            "gameid": gameid,
                        },
                        success: function(data, textStatus, jqXHR) {
                            // alert("Successfully updated character to belong to that game: " + data)
                        },
                        error: function(data) {
                            alert("couldn't change ownership of character to game: " + data)
                        }
                    });
                }
            }
        }
    }
</script>
</head>

<body>
    <div id='selection'>
        <h2> Select the DM or character you wish to use to play or create a new one! </h2>

        <div id="playerordm">

            <!-- PLAYER SELECTION -->
            <div id="character-selection">
                <h5 class='tiletitles'> Choose a character...
                    <br>
                    <div id="listOfCharacters"> </div>

                    <button id="createCharacterButton" type="button" data-toggle="modal" data-target="#createCharacterModal"> Create a new Character </button>
                    <br>

                    <!-- <input type="radio" name="player-selection" class="characterradio" onclick="isCharacterSelected()" value="'.$row['avatarname'].'">' . $row['avatarname'] . ' ' . '<img src="'. $row['imgpath'] .'">' . '<br/>'; -->
            </div>

            <span> OR... </span>

            <!-- DM SELECTION -->
            <div id="dm-selection">
                <span class='tiletitles'> Choose a Dungeon Masters Profile...
                    <br>
                    <div id="listOfDMProfiles"> </div>
                    <!-- <input type="radio" name="player-selection" class="dmradio" onclick="isDMSelected()" value='.$row['dmname'].'>' . $row['dmname'] . '<br/> -->
                    <button id="dm-creation-btn" type="button" data-toggle="modal" data-target="#createDMProfileModal"> Create new DM Profile </button>
                    <br>
                    <button id="game-creation-btn" type="button" data-toggle="modal" data-target="#createGameModal"> Create a new Game </button>
                    <br>
            </div>
        </div>

        <!-- GAME SELECTION -->
        <div id="game-selection">
            <span class='tiletitles'> Choose a game to join...
                <br>
                <div id="listOfGames"></div>
                <!-- <input type="radio" name="games-selection-btn" class="gamesradio" onclick="isGameSelected()" value='.$row['gamename'].'>' . $row['gamename'] . '<br/> -->
                <button id="enterGame" type="button"> Enter Game </button>
                <br>
                <!-- onclick="window.location.href=\'play-game.php\'" -->
        </div>


    </div>

    <!-- Create Character Modal -->
    <div class="modal fade" id="createCharacterModal" role="dialog">
        <div class="modal-dialog">

        
            <!-- Modal content--> 
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create a character</h4>
                </div>
                <div class="modal-body">
                    <form id="createCharacterForm" action="https://pacific-reef-42179.herokuapp.com/addCharacter"  method="post" enctype="multipart/form-data" >
                        Character name:
                        <input type="text" name='avatarname'>
                        <br>
                        <hr> Upload an image:
                        <input type="file" name='characterpic'>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button id='createCharacterButtonModal' type="submit" class="btn btn-success">Create Character</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

        <!-- Create Game Modal -->
    <div class="modal fade" id="createGameModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content--> 
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a Game</h4>
            </div>
            <div class="modal-body">
                <form id="createCharacterForm" action="https://pacific-reef-42179.herokuapp.com/addGame"  method="post" enctype="multipart/form-data" >
                    Game name:
                    <input type="text" name='gamename'>
                    <br>
                    <hr> Upload an image:
                    <input type="file" name='tablepic'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button id='createCharacterButtonModal' type="submit" class="btn btn-success">Create Game</button>
                </form>
            </div>
        </div>

    </div>
    </div>
    <script>
        /******************************************************************
         * For some reason, the following two lines don't work
         * // $('#createCharacterButtonModal').click(function() {
         * // $('#createCharacterForm').submit(function(event){
         * I am not sure why, but in order to submit the form inside of the modal above
         * you need to target the submit button itself, instead of attaching a 
         * submit event on the form. Not sure why.
         * ****************************************************************/
        // $("button#createCharacterButtonModal").click(function (event) {
        //     // event.preventDefault();
        //     $.ajax({
        //         url: "https://pacific-reef-42179.herokuapp.com/uploadcharacterimg",
        //         type: "POST",
        //         data: {
        //             "characterName": $('[name="avatarname"]').val(),
        //             "imgPath": $('[name="characterpic"]').val().split('\\').pop(),
        //         },
        //         statusCode: {
        //             500: function (res) {
        //                 alert("Server error: " + JSON.stringify(res));
        //             },
        //             200: function (res) {
        //                 alert("successfully added character to database");
        //                 alert(JSON.stringify(res));

        //             }
        //         }
        //     });
        // });
    </script>

    <!-- Create DM Profile Modal -->
    <div class="modal fade" id="createDMProfileModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create a DM Profile</h4>
                </div>
                <div class="modal-body">
                    <form id="createDMProfileForm" enctype="multipart/form-data">
                        Dungeon Master's name:
                        <input type="text" name='dmName'>
                        <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button id='createDMProfileModal' type="submit" class="btn btn-success" data-dismiss="modal">Create Character</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>


<script>
    $('#enterGame').click(function () {

        var radioValue = $("input[name='games-selection-btn']:checked").val();
        if (radioValue != undefined && radioValue != null) {
            window.location = 'https://pacific-reef-42179.herokuapp.com/enterGame?gamename=' + radioValue;
        } else {
            alert("Please select a game name :D")
        }
        // $.ajax({
        //     url: "https://pacific-reef-42179.herokuapp.com/enterGame",
        //     type: "GET",
        //     data: {
        //         "gamename": radioValue
        //     },
        //     success: function(data, textStatus, jqXHR) {
        //         alert("This is the data: " + data);
        //         alert("This is the textStatus" + textStatus);
        //         alert("This is the jqXHR" + jqXHR);
        //     },
        //     error: function (err) {
        //         alert("couldn't enter game for some reason " + err)
        //     }
        // })
    });

    // <button id="enterGame" type="button" > Enter Game </button><br>

    // $('#createCharacterButtonModal').click(function() {
    $('#createDMProfileForm').submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "https://pacific-reef-42179.herokuapp.com/addDM",
            type: "POST",
            data: {
                "dmName": $('[name="dmname"]').val(),
            },
            statusCode: {
                500: function (res) {
                    alert("Server error: " + JSON.stringify(res));
                },
                200: function (res) {
                    alert("successfully added DM to database");
                    alert(JSON.stringify(res));

                }
            }
        });
    });

    // $('#dm-creation-btn').click(function() {
    //     $.ajax({
    //         url: "https://pacific-reef-42179.herokuapp.com/addDM",
    //         type: "GET",
    //         data: {
    //             "characterName" : $('[name="avatarname"]').val(),
    //             "imgPath" : "testImgPath.jpg",
    //             "userid" : ""
    //         }, 
    //     });
    // });

    // if someone taps on a dm radio button, allow them to create a game.
    

</script>

</html>